/*Bunch of Misc CSS tools that I use
/*Date Format Code*/
input[type="date"]:before {
   content: attr(placeholder) !important;
   color: rgba(0,0,0,.4);
   margin-right: 0.5em;
   display:block;
 }

input[type="date"]{
  padding:10px 5px 10px 5px;
  border:0px;
  border-bottom:1px solid rgba(0,0,0,.1);
  margin:auto;
  display:block;
  background-color:transparent;
  outline:0;
}
.mywitdth{
	width: 232px;
}

.f5pad{
   	padding-left: 45px;
}

.fp{
   	width: 4%;
}

body{
   	overflow: hidden;
	resize: none;
}*/